<div class="page">
    <machine-header></machine-header>
    <shared-card-primary>
        <div class="payment-contain">
            <div class="title">
                <h2>Administra tus pagos</h2>
            </div>
            <shared-table [data]="payments" [headers]="headersPayments"></shared-table>
        </div>
    </shared-card-primary>
    <div class="pnl-btn">
        <button (click)="openAddModal()">Agregar un pago</button>
    </div>
</div>

<!-- Modales -->
<shared-modal [title]="'Editar pago'" [isVisible]="isEditModalVisible" (close)="closeEditModal()">
    <machine-form-payment [lblBtnSend]="'Editar'" [data]="dataEditForm"></machine-form-payment>
</shared-modal>
<shared-modal [title]="'Crear pago'" [isVisible]="isAddModalVisible" (close)="closeAddModal()">
    <machine-form-payment [lblBtnSend]="'Crear'"></machine-form-payment>
</shared-modal>