hr {
    width: 80%;
    border-color: var(--very-like);
}

.contain-rows {
    position: relative;
    height: 48vh;
    overflow: scroll;
}

.contain-rows::-webkit-scrollbar {
    width: 7px;
    display: none;
}

.contain-rows::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

.contain-rows .row-body-table {
    width: 80%;
    margin: 20px auto;
}

.row-head-table {
    margin-bottom: 30px;
    width: 80%;
    margin: 10px auto 30px auto;
}

.contain-rows .row-body-table,
.row-head-table {
    display: grid;
}

.btn-img-row {
    background-color: transparent;
    border: none;
    text-align: center;
}

.btn-img-row:hover {
    cursor: pointer;
}

.img-row {
    width: 20px;
}

.footer-table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    height: 5vh;
    background-color: var(--very-white);
    border-radius: 10px;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.5);
}