<shared-sidebar></shared-sidebar>


<div class="principal-contain">
  <div class="header">
    <div>
      <h1>Finance Machine</h1>
    </div>
    <div class="top-options">
      <div class="top-icon">
        <img src="../assets/imgs/bell.png" alt="">
      </div>
      <div class="profile-picture">
        <img src="../assets/imgs/3135768.png" alt="">
      </div>
    </div>
  </div>
  <div class="app-body">
    <shared-card-primary class="next-payments">
      <div class="title">
        <h2>Próximos Pagos</h2>
      </div>
      <app-rows></app-rows>
      <div class="manage-payments">
        <button class="btn-manage-payments">Administrar pagos</button>
      </div>
    </shared-card-primary>
    <div class="income">
      <div class="details">
        <h3>Ingreso Mensual</h3>
        <span class="principal-income">$ 13'745.940 COP</span>
        <h3 class="secondary-info">Monto pendiente de pago</h3>
        <span class="secondary-info value">$ $ 3'450.000 COP</span>
        <h3 class="secondary-info">Monto pendiente de pago</h3>
        <span class="secondary-info value">$ -21.000 COP</span>
        <h3 class="secondary-info">Total ahorrado</h3>
        <span class="secondary-info value">$ 57'000.000 COP</span>
      </div>
      <div class="increment-income">
        <button class="btn-increment-income">Aumentar ingreso</button>
      </div>
    </div>
  </div>
</div>