<div class="page principal-contain">
    <machine-header></machine-header>
    <div class="app-body">
        <shared-card-primary class="next-payments">
            <div class="next-payments-contain">
                <div class="title">
                    <h2>Próximos Pagos</h2>
                </div>
                <shared-table [headers]="paymentsHeaders" [data]="payments"></shared-table>
                <div class="manage-payments">
                    <a href="payment"><button class="btn-manage-payments">Administrar pagos</button></a>
                </div>
            </div>
        </shared-card-primary>
        <div class="income">
            <div class="details">
                <h2>Ingreso Mensual</h2>
                <span class="principal-income">
                    {{ income && income.basic ? formatToCurrency(income.basic) : "0"}}
                </span>
                <h3 class="secondary-info">Monto pendiente de pago</h3>
                <span class="secondary-info value">{{ monthlyBalance && monthlyBalance.pendingAmount ?
                    formatToCurrency(monthlyBalance.pendingAmount) : "0"}}
                    COP</span>
                <h3 class="secondary-info">Descuadre</h3>
                <span class="secondary-info value">{{ monthlyBalance && monthlyBalance.disbalance ?
                    formatToCurrency(monthlyBalance.disbalance) : "0"}}
                    COP</span>

                <hr>
                <h3 class="secondary-info">Total ahorrado</h3>
                <span class="secondary-info value">$ 57'000.000 COP</span>
            </div>
            <div class="increment-income">
                <button class="btn-increment-income">Aumentar ingreso</button>
            </div>
        </div>
    </div>
</div>
<shared-loading-sppiner></shared-loading-sppiner>