<div class="principal-contain">
    <machine-header></machine-header>
    <div class="app-body">
        <shared-card-primary class="next-payments">
            <div class="title">
                <h2>Próximos Pagos</h2>
            </div>

            <!-- <app-rows [payments]="payments"></app-rows> -->
            <shared-table [headers]="paymentsHeaders" [data]="payments"></shared-table>

            <div class="manage-payments">
                <button class="btn-manage-payments">Administrar pagos</button>
            </div>
        </shared-card-primary>
        <div class="income">
            <div class="details">
                <h3>Ingreso Mensual</h3>
                <span class="principal-income">
                    {{ income && income.basic ? formatToCurrency(income.basic) : "0"}}
                </span>
                <h3 class="secondary-info">Monto pendiente de pago</h3>
                <span class="secondary-info value">$ 3"450.000 COP</span>
                <h3 class="secondary-info">Monto pendiente de pago</h3>
                <span class="secondary-info value">$ -21.000 COP</span>
                <h3 class="secondary-info">Total ahorrado</h3>
                <span class="secondary-info value">$ 57"000.000 COP</span>
            </div>
            <div class="increment-income">
                <button class="btn-increment-income">Aumentar ingreso</button>
            </div>
        </div>
    </div>
</div>