:root {
    --primary-color: rgb(40, 36, 36);
    --very-like: rgb(240, 241, 245);
    --very-white: rgba(255, 255, 255, 255);
}


body {
    font-family: "poppins", sans-serif;
    margin: 0;
    background-color: var(--very-like);
}